* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serifs;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    animation-name: navbar;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* transition: all 4s ease-in 0.2s;
    transform: translateY(10px); */
}

@keyframes navbar {
    from {}
    to {
        /* transition: all 4s ease-in 0.2s; */
        transform: translate(0, 20px);
    }
}

.nav-logo {
    height: 50px;
    width: 130px;
}

.logo {
    background-image: url(../images/Amazon-Logo.png);
    height: 50px;
    background-size: cover;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}


/*  box-2 nav address */

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-address:hover {
    border: 1.5px solid white;
}


/* box-3 nav-search */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 600px;
    height: 40px;
    border-radius: 4px;
}

.serach-select {
    background-color: #f3f3f3;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover {
    border: 2px solid orange;
}


/* box 4 */

span {
    font-size: 0.7rem;
}

.nav-second {
    font-weight: 700;
    font-size: 0.85rem;
}


/* box-5 */

.nav-cart i {
    font-size: 28px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}


/* Panel */

.panel {
    height: 40px;
    background-color: #222f22;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}


/* heo-section */

.hero-section {
    background-image: url(../images/bakgroud\ 2.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 35px;
}

.hero-message a {
    color: #007185;
    text-decoration: none;
}


/* shop-section */

.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}

.box {
    height: 320px;
    width: 23%;
    background-color: white;
    padding: 20px 5px 15px;
    margin-top: 15px;
}

.box-img {
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    margin-left: 20px;
    margin-right: 20px;
}

.box-content {
    margin-left: 10px;
    margin-right: 10px;
}

.box-content p {
    color: #007185;
}

.box-content a {
    text-decoration: none;
}


/* footer */

footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel2 a {
    text-decoration: none;
    color: white;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin: 10px;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    background-image: url(../images/Amazon-Logo.png);
    height: 50px;
    background-size: cover;
    width: 150px;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    font-size: 0.7rem;
    text-align: center;
}

.foot-panel4 a {
    text-decoration: none;
    color: white;
}

.pages {
    padding-top: 25px;
}

.copyright {
    padding-top: 5px;
    padding-bottom: 5px;
}


/* .owner {
    position: absolute;
}

.h1,
.h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation-name: owner;
    transition: all 6s steps(6) ease-in 1s;
    animation-duration: 6s;
    animation-timing-function: steps(7);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;
}

@keyframes owner {
    from {}
    to {
        transform: translate(1000px, 1000px);
    }
} */